ul,li { margin:0; padding:0; list-style:none; }
#contenedor { width:600px; }
#tab_contenedor { padding:8px 8px; width:300px; background:#097793; border:1px solid #000; }
#tab_contenido { padding:5px; background:#fff; }
ul.titulos { margin-top:5px; margin-bottom:6px; }
ul.titulos li { display:inline; }
ul.titulos li a { color:#097793; padding:5px 10px 6px 10px;  text-transform:uppercase; background:#fff; border-bottom:1px solid #097793; }
ul.titulos li a:hover { border-bottom:1px solid #ccc; color:#ccc; }
ul.titulos li a.activo { color:#000; border-bottom:1px solid #fff; background:#fff; }
a.tab { font-weight:bold; text-decoration:none; }
.contenido p, .contenido ul { margin:10px 0; padding:0 11px; }
.contenido ul li { margin-bottom:3px; }
.contenido ul li a { color:#3f4c4f; }
.contenido ul li a:hover { color:#899fa5; }
#bookmark, #email { display:none; }
